/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */
.container {background-image: url("bluepapertexture.png");
            padding: 0px 0px 0px 0px;
}

body { background-color: slategrey;
	   font-family: "Open Sans", sans-serif;
       font-style: normal;
	   font-size: 16px;
	   color: #3b5159;
     }

#tomimage {
  width: 100px;
  height: 100px;
  margin: 0px 10px 0px 15px;
               }

#header{
  display: flex;
  background-color: white;
        }

#header h2{
  margin-left: 15px;
  margin-top: 14px;
  color: darkgrey;
        }

ul {
  list-style-image: url("paw.png");
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 14px;
   }

h1, h2 { font-family: "Londrina Solid", sans-serif;
	     font-style: normal;
	     text-transform: uppercase;
       }

h1 { font-weight: 400;
     font-size: 80px;
	 color: #E5BDBD;
	 text-shadow: 4px 3px #2A5366;
   }

h2 { font-weight: 300;
     font-size: 30px;
	 color: #2A5366;
   }

a:link, a:visited {color: white;}

a:hover {color: #F5FA8E;
		 text-decoration: none;
        }

a:active {color: white;}

.content { padding: 10px 15px 10px 15px;}

.content strong {
  color: #F5FA8E;
                   }


@media (min-width: 768px) {
  .mt-n1 {
  margin-top: -23rem !important;
}
}

.accordion-button {
  background-color: #E5BDBD;
  color: white;
                  }

.accordion-button strong {
  color: #2A5366;
                         }

.accordion-body {
  background-color: #E5BDBD;
  color: #3b5159;
                }

.accordion-button:not(.collapsed) {
  background-color: white;
  color: #E5BDBD;
                                  }

.logo {
  display: block;
  height: 140px;
  margin: auto 20px 20px auto;
      }
